{% extends 'layout.twig' %}

{% block body %}
       {% include "components/navegationBar.twig" %}
       <div class="panel panel-info" id="panelTOTAL">
           <div class="row">
               <div class="col-md-4" id="panelIzquierdo">
                   {% include "components/panelDeFitros.twig" %}
                   {% include "components/panelGruposYRamas.twig" %}
               </div>
               <div class="col-md-8" id="panelDerecho">
                   <div id="map" class=".col-md-8"></div>
                   <button type="button" class="btn btn-default .col-md-8" onclick="centrarLugares()" id="centrado">Centrar los grupos del Mapa</button>
               </div>
           </div>
           <div class="row" id="margen"><h1>   </h1></div>
           <div class="row info" id="PanelInformacion"   >
               <div class="panel panel-info" id="panelInfo">
                   {% include "components/panelInfoHead.twig" %}
                   <div class="panel-body" id="bodyinfo">
                       <dl id="boddy2"></dl>
                       {% include "components/panelImagenes.twig" %}
                       {% include "components/panelNuevoComentario.twig" %}
                       {% include "components/panelContenedorDeComentarios.twig" %}
                   </div>
               </div>
               <div id="right-panel"></div>
           </div>
       </div>




       {% block modalLogin %}
            <!-- Modal -->
            <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                   <div class="modal-dialog" role="document">
                       <!--Content-->
                       <div class="modal-content form-elegant">
                           <!--Header-->
                           <div class="modal-header text-center">
                               <h2 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Ingresar</strong></h2>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                           </div>
                           <!--Body-->
                           <div class="modal-body mx-4">

                              <div class="row my-1 d-flex justify-content-center">
                                <!--Facebook-->
                                <a href="/login/twitter">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook pr-1"></i>twitter</button></a>
                              </div>

                       </div>
                       <!--/.Content-->
                   </div>
               </div>
               <!-- Modal -->
           {% endblock %}

{% endblock %}
