    <div class="panel" id="filtros">
       <div><center><h3 id="filtroTag">Filtrar Resultados</h3></center></div>
       <div id="selectsFiltros">
         {% for filtro in filtros %}
               {% include "components/renderFiltro.twig" %}
          {% endfor %}
            <button type="button" id="botonFiltro" class="btn btn-primary col-md-10 btn-xs">Filtrar</button>
            <button type="button" id="botonBorrarFiltro" class="btn btn-danger col-md-10 btn-xs">Borrar Filtro</button>
       </div>
    </div>
